.one, .nested, .five{ /* Multiple classes with the same property */
    background-color: aquamarine;
    padding: 30px;
}

.two, .four, .six{
    background-color: grey;
    padding: 30px;
}

.container{
    display: grid;
    max-width: 80%;
    margin: 0 auto;
    grid-gap: 10px;
    /* Setting coloums */
    grid-template-columns: repeat(6, 1fr); /* Repeat is a shortcut instead of repeating 1fr 6 times */
    /* Setting rows */
    grid-template-rows: minmax(60px, auto) minmax(150px, auto) minmax(150px, auto) minmax(150px, auto) minmax(150px, auto);
}

/* Specifing each blocks grid row and column size*/
.one{
    grid-column: 1/3; /*Long way would be grid-column-start: 1 grid-column-end: 3 */
}

.two{
    grid-column: 3/7;
}

.four{
    grid-column: 4/7;
    grid-row: 3/5;
}

.five{
    grid-column: 3/7;
}

.six{
    /* Position 6 to start in row 4 */
    grid-row-start: 5;
    grid-column: 1/3;
    
}

#header{
    background-color: red;
    grid-column: 1/7;
}

nav{
    background-color: rgb(255, 162, 0);

}
nav a{
    text-decoration: none;
    color: black;
    padding: 1em 2em;
    display: inline-block;
    width: 100px;

}

nav li{
    display: inline;
    text-align: center;
    margin: 15px;
}

/* Hover effect */
nav a:hover{
    background-color:red;
}

/* Nested grid */
.nested{
    /* Basically create another grid */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-column: 1/4;
    grid-row: 3/5;
}

.nested p{
    border: 1px solid white;
    padding: 20px;
    margin: 0;
}