article{
    margin: 0 auto;
    width: 600px;
    height: 700px;
    background-image: url(Images/Picture2.jpg); 
}

/* Text styling*/
.grey{
    color: grey;
}
.white{
    color: white;
}
.green{
    color: green;
}

header h1{
    margin:0 auto;
    margin-top: 10px;
    display: inline-block;
    color: white;
}

#razor{
    margin-left: 100px;
}


figure{
    margin: 10px 50px
}

article nav{
    margin: 0 auto;
    text-align: center;
}

nav ul{
    margin-top: 10px;
}

nav li{
    display: inline;
}

nav a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.hover:hover{
    background-color: rgb(75,194,52) ;
    color: grey;
}

main{
    display: grid;
    /* max-width: 600px; */
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: minmax(100px auto);
    grid-gap: 10px;
}

main{
    width:500px;
    margin:0 auto;
    background-color: grey;
    position: relative;
    top:20px;
    z-index: 1;
}

#sect-left{
    grid-column: 1/3;
    grid-row-start: 1;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
}
#sect-left p{
    display: inline;
}

#sect-right{
    grid-column: 2/3;
    grid-row-start: 1;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    border-left: 1px dotted grey;
}

footer{
    margin: 0 zero;
    background-color: grey;
    height: 80px;
    z-index: 2;
}

footer nav{
    margin: 0 auto;
    text-align: center;
}

footer nav ul{
    margin-top: 10px;
}

footer nav li{
    display: inline;
    border-left: 1px white;
}

footer nav a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
}